*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 140px;
    padding: 20px 40px;
    background-color: white;
}

body{
    background-color: #F6F8F9;
}

nav{
    height: 100px;
    border-bottom: 5px solid #F6F8F9;
}

main{
    padding: 50px 100px;
}

h2{
    font-size: 40px;
}

h2::before{
    content: '\25BE';
}

section{
    margin-bottom: 50px;
}

.container{
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    height: 1000px;
    width: 70%;
    background-color: white;
}


.button{
    color: white;
    background-color: #47ADF1;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #47ADF1;
    display: inline-block;
    text-align: center;
    margin: 30px 10px 10px 100px;
    font-size: 20px;
    padding: 10px 0;
}

.searchbar{
    color: lightgrey;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid lightgrey;
    display: inline-block;
    text-align: center;
    margin: 30px 0 10px 0;
    font-size: 20px;
    padding: 10px 0;
}

.task{
    font-size: 30px;
}

.row{
    display-block;
    margin: 25px 0;
}

.row > span{
    margin-left: 10px;
}

.label{
    padding: 10px 20px;
    height: 40px;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.editorial{
    background-color: #45ABEA;
}

.checkmark{
    color: #8FD3C3;
    border: 3px solid #8FD3C3;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 20px;
    font-weight: 800;
}

.cross{
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 20px;
    font-weight: 800;
}

#logo{
    height: 100px;
    vertical-align: middle;
}

#logo-title{
    font-size: 70px;
    font-weight: 800;
    vertical-align: middle;
}

