*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 140px;
    padding: 20px 40px;
    background-color: white;
}

body{
    background-color: #F6F8F9;
}

main{
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    height: 1000px;
    width: 70%;
    background-color: white;
}

#logo{
    height: 100px;
    vertical-align: middle;
}

#logo-title{
    font-size: 70px;
    font-weight: 800;
    vertical-align: middle;
}

